<h1>Add Student Requset</h1>
<form action="/studentInfo" method="post">
    <input class='' type="text" name="studentName" value="" placeholder="Name" />
    <input class='' type="text" name="studentMobile" value="" placeholder="Mobile" />
    <button type='submit'>Request</button>
</form>